.flex{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#footer{
    background-image: url(../img/backgound-footer.jpg);
    position: relative;
    color: #000000;
    height: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
	padding-top: 3vw;
}
.top-f{
	width: 80%;
    margin: auto;
	justify-content: space-between;
}
.top-f img{
	width: 2vw;
    height: 2vw;
    padding-right: 0.5vw;
}
.top-f h1{
	margin:0;
	font-size: 1.5vw;
}
.inline{
	width: 80%;
    margin: auto;
	margin-top: 2vw;
}
.blockf{
	width: 20%;
}
.blockf h3{
	margin: 0;
    font-size: 1vw;
    text-transform: uppercase;
    padding-bottom: 0.5vw;

}
.blockf a{
	margin: 0;
    font-size: 1vw;
	cursor: pointer;
}
.blockf p{
	margin: 0;
    font-size: 1vw;
}
.blockf img{
	width: 1vw;
	padding-right: 0.3vw;
}
.laiks{
	margin-left: 15vw;
	width: 17vw;
}
.laiks span{
	font-size: 0.8vw;
}
.ssl{
	align-items: center;
	margin-top: 1vw !important;
	margin-bottom: 1vw !important;
}
.ssl img{
	width: 1.7vw;
	height: 2vw;
}
#socials{
    width: 14vw;
    justify-content: space-between;
}
#socials img{
	cursor: pointer;
    width: 1.7vw;
    height: 1.7vw;
    margin-right: 0.2vw;
}
@media screen and (max-width: 900px){
#footer{
	height: auto;
    padding-top: 10vw;
    padding-bottom: 10vw;
}
.inline {
    width: 80%;
    margin: auto;
    margin-top: 2vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.blockf {
    width: 100%;
}
.laiks {
    margin-left: 0;
    width: 100%;
}
.ssl {
    justify-content: center;
}
.blockf h3 {
    font-size: 3vw;
    line-height: 8vw;
}
.blockf p {
    font-size: 3.5vw;
    line-height: 7vw;
}
.blockf a {
    margin: 0;
    font-size: 3.5vw;
    cursor: pointer;
}
.laiks span {
    font-size: 3vw;
}
.blockf img {
    display:none;
}
.top-f {
    width: 80%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.phone{
	text-align: center;
    justify-content: center;
}
.top-f img {
    width: 6vw;
    height: 6vw;
    padding-right: 2vw;
}
.top-f h1 {
    margin: 0;
    font-size: 4vw;
}
#socials {
    width: 70%;
    justify-content: space-between;
    margin: auto;
	margin-top: 5vw
}
#socials img {
    width: 6vw;
    height: 6vw;
}



}