ul, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
	margin: 0;
}
.header{
	display: flex;
	display: -webkit-flex;
    justify-content: space-around;
    width: 90%;
	margin: auto;
	position: relative;
	z-index: 2;
}
.head{
	height: 6vw;
    display: flex;
	display: -webkit-flex;
    align-items: center;
}
.head h3{
	margin: 0;
    font-size: 1vw;
    font-weight: 500;
	margin-left: 1vw;
}
.login{
    display: flex;
	display: -webkit-flex;
    align-items: center;	
}
.button {
	color: black;
    padding: 0.3vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7vw;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid black;
    font-weight: 700;
    text-transform: uppercase;
}
.my_nav{
}
.menu{
    width: auto;
}
.my_nav ul li {
    display: inline;
    margin-right: 2vw;
    font-weight: 800; 
}
.my_nav ul li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7vw;
    vertical-align: middle;
    text-align: justify;
	letter-spacing: 0.05vw;
}
.my_nav ul li a:hover{
    color: #212121;
    text-decoration: underline;
}
.block{
    text-align: justify;
}
.atribut{
    display: -webkit-inline-box;
}
.logo-img img{
	width: 10.5vw;
}
#menu-mobile, #logo-mobile{
	display:none;
}
@media screen and (max-width: 1300px){
.my_nav ul li a{
    font-size: 1vw;
}
.button {
    font-size: 1vw;
}
}
@media screen and (max-width: 900px){
#menu-mobile{
    display: block;
    position: fixed;
    right: 5vw;
    top: 5vw;
	cursor:pointer;
	z-index: 100;
}
#menu-mobile img{
	width: 10vw;
}
#logo-mobile{
	display:block;
	height: 10vw;
    width: 100%;
    text-align: center;
}
#logo-mobile img{
	width: 35vw;
    margin-top: 2vw;
}
.header{
	display:none;
}
.header {
    /* display: none; */
    background-image: -moz-linear-gradient( 180deg, rgba(255,116,131,0.9) 0%, rgba(253,158,98,0.9) 100%) !important;
    background-image: -webkit-linear-gradient( 180deg, rgba(255,116,131,0.9) 0%, rgba(253,158,98,0.9) 100%) !important;
    background-image: -ms-linear-gradient( 180deg, rgba(255,116,131,0.9) 0%, rgba(253,158,98,0.9) 100%) !important;
    width: 100%;
    top: -10vw;
    position: fixed;
    height: 160vw;
    z-index: 10;
}
 .header:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-top: 10vw solid transparent;
    border-right: 100vw solid #FFF;
    border-bottom: 0px solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.my_nav {
    height: auto;
    width: 100%;
}
.my_nav ul{
	display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30vw;
}
.my_nav ul li a {
    font-size: 5vw;
    color: white;
    text-align: center;
    font-weight: 500;
    justify-content: center;
    text-transform: inherit;
    line-height: 15vw;
}
.button {
    color: white;
    padding: 2vw 12vw;
    cursor: pointer;
    border: 1px solid white;
    font-weight: 500;
    font-size: 4vw;
    border-radius: 3vw;
}
.atribut {
    width: 100%;
	height: 35vw;
}
.login {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.head h3 {
    margin: 0;
    font-size: 4vw;
    font-weight: 500;
    margin-left: 1vw;
    color: white;
    margin-top: 5vw;
}



}