ul, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
	margin: 0;
}
.header{
	display: flex;
	display: -webkit-flex;
    justify-content: space-around;
    width: 90%;
	margin: auto;
	position: relative;
	z-index: 2;
}
.head{
	height: 6vw;
    display: flex;
	display: -webkit-flex;
    align-items: center;
}
.head h3{
	margin: 0;
    font-size: 1vw;
    font-weight: 500;
	margin-left: 1vw;
}
.login{
    display: flex;
	display: -webkit-flex;
    align-items: center;	
}
.button {
	color: black;
    padding: 0.3vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7vw;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid black;
    font-weight: 700;
    text-transform: uppercase;
}
.my_nav{
}
.menu{
    width: auto;
}
.my_nav ul li {
    display: inline;
    margin-right: 2vw;
    font-weight: 800; 
}
.my_nav ul li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7vw;
    vertical-align: middle;
    text-align: justify;
	letter-spacing: 0.05vw;
}
.my_nav ul li a:hover{
    color: #212121;
    text-decoration: underline;
}
.block{
    text-align: justify;
}
.atribut{
    display: -webkit-inline-box;
}
.logo-img img{
	width: 10.5vw;
}
@media screen and (max-width: 1300px){
.my_nav ul li a{
    font-size: 1vw;
}
.button {
    font-size: 1vw;
}
}
@media screen and (max-width: 900px){
}