body{
	margin: 0;
    overflow-x: hidden;
}
.flex{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
/*GENERAL-HEADLINE*/
.headline h1{
	text-align: center;
    font-size: 1.8vw;
    margin: 0;
    font-weight: 400;
    color: grey;
	margin-top: 2vw;
    margin-bottom: 2vw;
	opacity: 0.7;
}
/**/
.header-background{
	position: absolute;
	height: 40vw;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	top: 0;
    z-index: -1;
}
/**/
.icons_block{
	width: 100%;
    height: auto;
    justify-content: center;
}
.icon_border{
	width: 8vw;
    height: 8vw;
    text-align: center;
    margin: 1vw;
    padding: 2vw;
    border: 1px solid rgba(0,0,0,0.1);
}
.icon_border h3{
	text-align: center;
    font-size: 1vw;
    font-weight: 500;
    color: grey;
    margin: 0;
    line-height: 1.5vw;
}
.icon_border img{
	/*width: 6vw;*/
	height: 5vw;
}
/**/
#icons_block_sec{
    background-image: url(../img/dzeltfons.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 47vw;
    top: -10vw;
    z-index: 2;
    position: relative;
}
.icons_block_sec{
	width: 85%;
	margin: auto;
    height: auto;
    justify-content: center;
	position:relative;
	top: 16vw;
}
.icons_block_sec .icon_border_sec{
	text-align: center;
}
.icons_block_sec .icon_border_sec p{
	text-align: left;
    margin: 0;
    font-size: 0.85vw;
    line-height: 1.2vw;
}
.icons_block_sec .icon_border_sec h3{
	text-align: left;
    margin: 0;
    font-size: 1.1vw;
    line-height: 1.5vw;
	margin-bottom: 0.5vw;
}
.icons_block_sec .icon_border_sec img{
    width: 6vw;	
}
.b1{
    margin-right: 7vw;
    width: 12%;
    margin-left: 5vw;
}
.b2{
	width: 11%;
    margin-right: 6vw;
}
.b3{
	width: 17%;
    margin-right: 5vw;
}
.b4{
	width: 12%;
    margin-right: 4vw;
}
/**/
#block-piesakies{
	position: relative;
	top: -18vw;
	height: 50vw;
}
.piesakies-background{
	position: absolute;
	height: 40vw;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
    z-index: 0;
	top: -8vw;
}
.apply_credit{
	position: relative;
}
.apply{
	width: 30vw;
    position: relative;
    top: 6vw;
    left: 16vw;
}
.apply h1{
    margin: 0;
    font-weight: 600;
    color: grey;
    margin-bottom: 1.5vw;
    line-height: 3vw;
    font-size: 3vw;
}
.button_sanemt{
    color: black;
    padding: 0.6vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid black;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.1vw;
}
.img-apply-credit{
    position: absolute;
    top: -16vw;
    right: 17vw;
    z-index: 2;
}
.img-apply-credit img{
	width: 40vw;
}
#raditajs{
	position: absolute;
	top: 25vw;
    left: 17vw;
	z-index:2;
}
#raditajs img{
	width: 7vw;
}
.three_icons_block{
    position: relative;
    justify-content: center;
    z-index: 2;
    margin: auto;
    width: 100%;
    top: 20vw;
}
.tree_icon_border{
    width: 8vw;
    height: 8vw;
    text-align: center;
    margin: 2vw;
    padding: 2vw;
    border: 1px solid rgba(0,0,0,0.1);
}
.tree_icon_border h3{
	text-align: center;
    font-size: 0.8vw;
    font-weight: 500;
    color: black;
    margin: 0;
    line-height: 1vw;
}
.tree_icon_border img{
    height: 3vw;
    padding: 1vw;
}
/**/
#block-piesakies-mobile{
    position: relative;
    top: -15vw;
    height: 50vw;
}
.piesakies-background-2{
    position: absolute;
    height: 65vw;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 0;
    top: -15vw;
}
.apply_credit-2{
	position: relative;
}
.apply-2{
	width: 30vw;
    position: relative;
    top: 6vw;
    left: 16vw;
}
.apply-2 h1{
    margin: 0;
    font-weight: 600;
    color: grey;
    margin-bottom: 1.5vw;
    line-height: 3vw;
    font-size: 3vw;
}
.button_sanemt-2{
    color: black;
    padding: 0.6vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid black;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.1vw;
}
.img-apply-credit-2{
    position: absolute;
    right: 20vw;
    z-index: 2;
}
.img-apply-credit-2 img{
	width: 22vw;
}
.three_icons_block-2{
    position: relative;
    justify-content: center;
    z-index: 2;
    margin: auto;
    width: 100%;
    top: 20vw;
}
.tree_icon_border-2{
    width: 8vw;
    height: 8vw;
    text-align: center;
    margin: 2vw;
    padding: 2vw;
    border: 1px solid rgba(0,0,0,0.1);
}
.tree_icon_border-2 h3{
	text-align: center;
    font-size: 0.8vw;
    font-weight: 500;
    color: black;
    margin: 0;
    line-height: 1vw;
}
.tree_icon_border-2 img{
    height: 3vw;
    padding: 1vw;
}
/**/
#block-atmaksat{
	position: relative;
    top: -20vw;
	margin-bottom: -33vw;	
}
#icons_block_sec2{
    background-image: url(../img/dzletfons2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 47vw;
    top: -8vw;
    z-index: 2;
    position: relative;
}
.icons_block_sec2{
	width: 85%;
	margin: auto;
    height: auto;
    justify-content: center;
	position:relative;
	top: 20vw;
}
.icons_block_sec2 .icon_border_sec2{
	text-align: center;
}
.icons_block_sec2 .icon_border_sec2 p{
	text-align: left;
    margin: 0;
    font-size: 0.85vw;
    line-height: 1.2vw;
}
.icons_block_sec2 .icon_border_sec2 h3{
	text-align: left;
    margin: 0;
    font-size: 1.1vw;
    line-height: 1.5vw;
	margin-bottom: 0.5vw;
}
.b5{
    margin-right: 5vw;
    width: 14%;
    margin-left: 5vw;
}
.b6{
	width: 15%;
    margin-right: 6vw;
}
.b7{
    width: 17%;
    margin-right: 3vw;
}
.b8{
    width: 17%;
    margin-right: 2vw;
}
/**/
#rekviziti{
	z-index: 3;
    position: relative;
}
/**/
.saturs{
	display: -webkit-flex;
    display: flex;
}
.saturs h1{
	margin: 0;
    font-size: 0.9vw;
	width: 50%;
	padding: 0.5vw;
}
.saturs p{
	margin: 0;
    font-size: 0.9vw;
    text-transform: uppercase;
    color: grey;
	width: 50%;
	padding: 0.5vw;
}
.tab img{
	width: 80%;
}
.tab h2{
	margin: 0;
    font-size: 1.1vw;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.tab {
    overflow: hidden;
	border: 1px solid #ccc;
	border-bottom: none;
	background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
	width: 25%;
	height: 4vw;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
	background-color: #ccc;	
}
.tabcontent {
    display: none;
    padding: 6px 12px;
	border: 1px solid #ccc;
}
.tabcontent :first-child{
	display: flex;
}
.bank_rekv{
    width: 40%;
    margin: auto;
}
button.accordion {
	color: #444;
    cursor: pointer;
    padding: 1.2vw;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 1vw;
    transition: 0.4s;
    border-radius: 1vw;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    font-family: "Poppins", sans-serif;
}
button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: "\2212";
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#questions{
	width: 50%;
	margin: auto;
}
#questions p{
	font-size: 0.8vw;
}
/*FORMAS*/
.form_{
	width: 50%;
    height: 33vw;
	margin-bottom:4vw;
	cursor: pointer;
}
.form_ form{
	width: 100%;
    height: 65%;
    margin: 5vw;
}
.form_ h1{
	margin: 0;
    font-size: 1.7vw;
    margin-bottom: 1vw;
}
.form_ h2{
    margin: 0;
    font-size: 0.8vw;
    width: 10vw;
}
.form_ h3{
	margin: 0;
    font-size: 1vw;
	letter-spacing: 0.01vw;
}
.form_ h4{
    margin: 0;
    font-size: 1vw;
    font-weight: 400;
}
.form_ h4 b{
	margin-top: 0.5vw;
	font-size: 1.2vw;
}
.form_ h5{
    margin: 0;
    font-size: 0.8vw;
    margin-bottom: 1vw;
}
.form_ p{
	margin: 0;
    font-size: 0.8vw;
}
.form_ a{
    margin: 0;
    text-decoration: underline;
    font-size: 0.7vw;
	cursor: pointer;
}
.form_ input{
	width: 85%;
}
.inputs{
	width: 70%
}
.info_block{
	width: 30%;
	margin-top: 3vw;
}
.formulas div{
	margin: 1vw;
}
.pink{color:rgb(255, 117, 130)}
.violet{color:rgb(133, 106, 214);}
#summa, #kopa, #komisija, #gpl{
	font-weight: 500;
    opacity: 0.7;
    float: right;
}
.formulas{}
.rose-button{
	background-image: -moz-linear-gradient( 180deg, rgb(255,116,131) 0%, rgb(253,158,98) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgb(255,116,131) 0%, rgb(253,158,98) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,116,131) 0%, rgb(253,158,98) 100%);
	margin: 3vw 0vw 0vw 1vw;
    padding: 0.6vw 1vw;
    border: none;
    border-radius: 1vw;
	font-size: 0.9vw;
    font-weight: 700;
    color: white;
}
.violet-button{
	background-image: -moz-linear-gradient( -177deg, rgb(173,74,202) 0%, rgb(117,119,219) 100%);
	background-image: -webkit-linear-gradient( -177deg, rgb(173,74,202) 0%, rgb(117,119,219) 100%);
	background-image: -ms-linear-gradient( -177deg, rgb(173,74,202) 0%, rgb(117,119,219) 100%);
	margin: 3vw 0vw 0vw 1vw;
    padding: 0.6vw 1vw;
    border: none;
    border-radius: 1vw;
	font-size: 0.9vw;
    font-weight: 700;
    color: white;
}
/*FIRST FORM*/
#first-form{
    background-image: url(../img/form1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    left: 2.5vw;
	z-index: 2;
	align-items: center;
    justify-content: center;
	padding-top: 3vw;
	cursor:pointer;
}
/*SECOND FORM*/
#second-form{
	background-image: url(../img/form2.png);
    background-size: contain;
    background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: relative;
    right: 2.5vw;
	top: 3vw;
	align-items: center;
    justify-content: center;
	cursor:pointer;
}
@media screen and (max-width: 900px){
}