#form-0{}
#form-1{display:none}
#form-2{display:none}
#form-3{display:none}
#form-4{display:none}
#form-5{display:none}
#form-6{display:none}

#first-step-user-check{display:none}
#second-step-user-check{display:none}
#third-step-user-check{display:none}

#main-content-credit-izvelne-2{display:none}
#main-content-credit-izvelne-3{display:none}

#change-pass-2{display:none}

.klients{display:none}

body{
    background-repeat: no-repeat;
    background-image: url(../img/atrum-logo-liels.png);
    background-position: -190% 50%;
    background-size: 90%;
}
input{
	width: 100%;
    margin: 0.9vw;
	margin-right: 0;
	margin-left: 0;
    height: auto;
    padding: 0.8vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1vw;
    border-radius: 0.7vw;
    border: 1px solid rgba(0,0,0,0.1);
    font-family: "Poppins", sans-serif;
	background-color: rgb(246, 247, 249);
}
input:focus{
	background-color: white;
}
input:focus::-webkit-input-placeholder {font-size:0.6vw;position:relative;top:-1.1vw}
input:focus::-moz-placeholder          {font-size:0.6vw;position:relative;top:-1.1vw}/* Firefox 19+ */
input:focus:-moz-placeholder           {font-size:0.6vw;position:relative;top:-1.1vw}/* Firefox 18- */
input:focus:-ms-input-placeholder      {font-size:0.6vw;position:relative;top:-1.1vw}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/*KREDITI*/
#main-id-2{
    background-image: url(../img/form6.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 28vw;
    height: 34vw;
    position: absolute;
    top: 10vw;
    right: 2vw;
    align-items: center;
    justify-content: center;
}
#main-id-2 h1{
	margin: 0;
	font-weight: 600;
	color: black;
	font-size: 1.7vw;
}

/*NAV IELOGTS*/
#page-form-content{
	margin-top: 5vw;
	margin-bottom: 10vw;
}
#page-content-1{
	width: 35%;
    margin: auto;
	text-align: center;
}
#page-content-1 h2{
	font-size: 2vw;
    margin: 0;
	font-weight: 600;
	text-align: left;
	margin-bottom: 1vw;
}
#page-content-1 span{
	color: rgb(250, 142, 109);
}
.info{
	width: 100%;
}
.info div{
	width: 50%;
}
.info div:first-child{
	margin-right:1vw;
}
.info div:last-child{
	margin-left:1vw;
}
.izvelne{
	align-items: center;
	margin-right: 1vw;
}
.izvelne p{
	margin: 0;
    font-size: 1.2vw;
}
.izvelne input{
	width: unset;
	height: unset;
}
.div{
    width: 1.2vw;
    height: 1.2vw;
    margin-right: 0.5vw;
    border-radius: 0.3vw;
	border: none;
	cursor: pointer;
}
.turpinat, .veikt{
	background-image: -moz-linear-gradient( 180deg, rgb(255,116,131) 0%, rgb(253,158,98) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgb(255,116,131) 0%, rgb(253,158,98) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,116,131) 0%, rgb(253,158,98) 100%);
	border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-size: 0.9vw;
    padding: 0.5vw 2.5vw;
    border-radius: 1vw;
	cursor:pointer;
}
.izvelne img{
	width: 3vw;
	cursor: pointer;
}
.klients{
	justify-content: space-between;
}
.check{
	width:60%;
	margin:auto;
}
.check p{
	margin: 0;
    text-align: left;
    font-size: 1vw;
	line-height: 1.2vw;
}
.radio{
	margin:0;
	height: unset;
	width: unset;
	margin-right: 1vw;
}
input[type=radio]:not{

}
input[type=radio]:checked{
	background-color: rgb(250, 142, 109);
}

.saturs{
	display: -webkit-flex;
    display: flex;
	text-align: left !important;
}
.saturs h1{
	margin: 0;
    font-size: 0.9vw;
	width: 50%;
	padding: 0.5vw;
}
.saturs p{
	margin: 0;
    font-size: 0.9vw;
    text-transform: uppercase;
    color: grey;
	width: 50%;
	padding: 0.5vw;
}
.tab img{
	width: 80%;
}
.tab h2{
	margin: 0 !important;
    font-size: 1.1vw !important;
    font-weight: 700 !important;
    font-family: "Poppins", sans-serif !important;
	text-align: center !important;
}
.tab {
    overflow: hidden;
	border: 1px solid #ccc;
	border-bottom: none;
	background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
	width: 25%;
	height: 4vw;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
	background-color: #ccc;	
}
.tabcontent {
    display: none;
    padding: 6px 12px;
	border: 1px solid #ccc;
}
.tabcontent :first-child{
	display: flex;
}
.bank_rekv{
    width: 100%;
    margin: auto;
}
#five-form, #six-form{
	text-align: center;
}
#five-form h6, #six-form h6{
	margin: 3vw;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 400;
}
#five-form img, #six-form img{
	width: 4vw;
	margin-top: 3vw;
}
.ielogoties-buttons{
	justify-content: space-evenly;
}
.ielogoties-buttons button{
	padding: 0.5vw 0vw;
    width: 10vw;
}
#four-form p{
	font-size: 1.1vw;
}
.veikt{margin-top: 1vw}

/**/
#profils p{
	margin: 0;
    font-size: 1vw;
}
#profils-added{
	position: absolute;
    top: 29vw;
    left: 12vw;
}
#profils-added p{
	margin: 0;
    font-size: 1vw;
}
#main-id{
	background-image: url(../img/form5.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25vw;
    height: 22vw;
    position: absolute;
    top: 8vw;
    left: 6vw;
	align-items: center;
	justify-content: center;
}
.profil-header{
	border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1vw;
    width: 13vw;
}
#main-id h1{
	margin: 0;
	font-weight: 600;
	color: grey;
	font-size: 1.7vw;
}
#sadalas{
    width: 35%;
    margin: auto;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
#ielogots-header h2{
	font-size: 2vw;
    margin: 0;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1vw;
}
#ielogots-header p{
	margin: 0;
	font-size: 1.1vw;
	text-align: left;
}
.user-check{
	text-align: left;
	margin-bottom: 2vw;
}
.user-check p{
	margin: 0;
    font-size: 1vw;
	font-weight: 500;
}
.user-check span{
	font-weight: 400;
    font-size: 0.8vw;
}
.user-check button{
	border: 1px solid rgb(251, 137, 112);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 600;
    padding: 0.3vw 1vw;
    background-color: transparent;
    border-radius: 0.5vw;
    margin-left: 3vw;
    cursor: pointer;
}
.number-info{
	width: 100%;
    margin: 0.9vw;
    margin-right: 0;
    margin-left: 0;
    height: auto;
    padding: 0.8vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.7vw;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(246, 247, 249);
	justify-content: space-around;
}
.number-info span{
	color: rgb(251, 137, 112);
    font-size: 1.1vw;
    font-weight: 600;
}
.x{
	align-items: center;
}
.x div:first-child{
	width: 55%;
}
.kods input{
	margin: 0;
	width: 2.5vw;
    height: 2.5vw;
    padding: 0;
    margin-right: 0.3vw;
    font-size: 2vw;
    text-align: center;
}
.apstiprinajums{
	width: 11.5vw;
}
.user-check h6{
	font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 400;
    margin: 0;
    margin-left: 1.5vw;
}
.user-check img{
	width: 3vw;
}
.border-pink{
	text-align: left;
}
.border-pink button{
    border: 1px solid rgb(251, 137, 112);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
    padding: 0.5vw 2vw;
    background-color: transparent;
    border-radius: 0.5vw;
    cursor: pointer;
}
.alerts p{
    margin: 0;
    margin-left: 0.5vw;
    margin-right: 2vw;
    font-size: 1vw;	
}
.p-b{
background-color: rgb(251, 137, 112);
    width: 1vw;
    height: 1vw;
    border-radius: 5vw;
}

#change-pass-2{
	text-align: center;
	margin-top: 5vw;
	margin-bottom: 20vw;
}
#change-pass-2 img{
	width: 4vw;
    margin-top: 3vw;
}
#change-pass-2 h6{
	margin: 3vw;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 400;
}

/*KREDITI*/
.main-content-credit{
	width:100%;
	margin-bottom: 5vw;
}
.main-content-credit #first-form, .main-content-credit #second-form{
	cursor: context-menu !important;
}
#pos{width:30%}
#main-content-credit-izvelne{width:70%}
/*FORM FORM FORM*/
#first-form {
    left: 1vw;
	padding-top: 0;
}
.form_ {
    height: 24vw;
}
.form_ form {
    width: 100%;
    height: 75%;
    margin: 5vw;
}
.short_range_form{
	transform: scale(0.8);
}
.rose-button, .violet-button{
	margin: 1vw !important;
    width: 100%;
    font-size: 0.8vw !important;
    padding: 0.5vw 0.5vw !important;
}
/**/
#nakamais-aizdevums{
	margin-left: 3vw;
}
#nakamais-aizdevums h1{
	margin: 0;
    font-size: 1.4vw;
}
#nakamais-aizdevums p{
	margin: 0;
    font-size: 1.2vw;
}
.atlaides{
	width: 70%;
	align-items: center;
}
.atlaides div:first-child{
    width: 40%;
    margin: 1vw;
    padding: 1vw 3vw 1vw 3vw;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1vw;
}
.atlaides p{
	font-size: 1.3vw;
}
.atlaides button{
	font-size: 1vw;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid rgb(255, 117, 130);
    border-radius: 0.5vw;
    padding: 0.5vw 1.5vw;
    margin-left: 1vw;
	cursor: pointer;
}
/**/
#main-content-credit-izvelne-2{
	margin-top: 5vw;
    margin-bottom: 3vw;
    width: 30vw;
    position: relative;
    left: 35vw;
}
#main-content-credit-izvelne-2 p{
	color: grey;
    font-size: 1.2vw;
    margin: 0;
}
#main-content-credit-izvelne-2 h2{
    margin: 0;
    color: grey;
    font-size: 2vw;
    font-weight: 600;
}

.borders{
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.statuss{width: 20vw;}
.s2{width:10vw}
.statuss div{
	margin-top: 1vw;
    margin-bottom: 1vw;
}
.statuss p{
	color: black !important;
}
.statuss span{
	color: #92d63c !important;
	font-weight: 600;
}

.border-2{
	margin-top: 1vw;
    margin-bottom: 2vw;
	width: 100%;
}
.border-2 p{
	color: black !important;
	font-size: 1vw !important;
}
.border-2-1{width:20%}
.border-2-2{width:80%}
.kredita-buttons{
	justify-content: space-around;
}
.kredita-buttons button{
	font-size: 0.8vw;
	text-transform: uppercase;
	background-color: transparent;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
	cursor: pointer;
	width: 13vw;
}
.kredita-buttons button:first-child{
	color: black;
	border: 1px solid rgb(255, 117, 130);
}
.kredita-buttons button:last-child{
	color: grey;
	border: 1px solid grey;
}

#main-content-credit-izvelne-3{
	left: 5vw;
    position: relative;
}
#main-content-credit-izvelne-3 p{
	font-size: 0.9vw !important;
}
#main-content-credit-izvelne-3 .bank_rekv{
	width:40%;
}

/*ESOSIE KREDITI*/
#aizdevumi{
    width: 56%;
    position: relative;
    left: 32%;
    margin-top: 5vw;
	margin-bottom: 10vw;
}
#aizdevumi h2{
	font-size: 2vw;
    margin: 0;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1vw;
}
#aizdevumi p{
	margin: 0;
    font-size: 1.2vw;
    margin-bottom: 1vw;
}
#istermina{
	margin-bottom:5vw;
}
#istermina span{
	color: rgb(250, 142, 109);
}
#ilgtermina{
	margin-bottom:5vw;
}
#ilgtermina span{
	color: rgb(133, 106, 214);
}
.table-aizdevumi div{
	display: -webkit-flex;
    display: flex;
	justify-content: space-between;
	padding: 0.2vw;
}
.table-aizdevumi div div{
	width: 15vw;
	justify-content: center;
	display: -webkit-flex;
    display: flex;
	align-items: center;
}
.money{
	width: 12vw !important;
}
.table-aizdevumi h1{
    margin: 0;
    font-size: 0.9vw;
    text-transform: uppercase;
}
.table-aizdevumi h3{
	margin:0;
	font-size: 1vw;
}
.table-aizdevumi p{
	margin:0 !important;
	font-size:0.9vw;
}
.nr{
	flex-direction: column;
	text-align: center;
}
.nr p{font-size: 0.8vw !important}
.with-borders{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 1vw;
	margin-bottom:1vw;
}
.additional-info{
	align-items: center;
}
.additional-info p{
	font-size: 0.8vw !important;
    color: black !important;
}
.additional-info span{
	text-decoration: underline;
	color: black !important;
}
.additional-info button{
	margin-left: 8vw;
    color: black;
    text-transform: uppercase;
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-weight: 600;
    padding: 0.4vw 1.5vw;
    background-color: transparent;
    border-radius: 1vw;
	cursor: pointer;
}
#istermina .additional-info button{
	border: 1px solid rgb(250, 142, 109);
}
#ilgtermina .additional-info button{
	border: 1px solid rgb(133, 106, 214);	
}

.green{color: #70c600 !important}
.yellow{color: #edcc14 !important}
.violetc{color: #838ad4 !important}
.light-green{color: #b9d521 !important}
.red{color: #db5852 !important}
.pinkc{color: #cd7aca !important}
.greyc{color: #bebebe !important}
@media screen and (max-width: 1300px){

}
@media screen and (max-width: 900px){
}