#form-0{}
#form-1{display:none}
#form-2{display:none}
#form-3{display:none}
#form-4{display:none}
#form-5{display:none}
#form-6{display:none}

.klients{display:none}
.turpinat{}
.veikt{margin-top: 1vw}

body{
    background-repeat: no-repeat;
    background-image: url(../img/atrum-logo-liels.png);
    background-position: -190% 50%;
    background-size: 90%;
}
input{
	width: 100%;
    margin: 0.9vw;
	margin-right: 0;
	margin-left: 0;
    height: auto;
    padding: 0.8vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1vw;
    border-radius: 0.7vw;
    border: 1px solid rgba(0,0,0,0.1);
    font-family: "Poppins", sans-serif;
	background-color: rgb(246, 247, 249);
}
input:focus{
	background-color: white;
}
input:focus::-webkit-input-placeholder {font-size:0.6vw;position:relative;top:-1.1vw}
input:focus::-moz-placeholder          {font-size:0.6vw;position:relative;top:-1.1vw}/* Firefox 19+ */
input:focus:-moz-placeholder           {font-size:0.6vw;position:relative;top:-1.1vw}/* Firefox 18- */
input:focus:-ms-input-placeholder      {font-size:0.6vw;position:relative;top:-1.1vw}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#page-form-content{
	margin-top: 5vw;
	margin-bottom: 10vw;
}
#page-content-1{
	width: 35%;
    margin: auto;
	text-align: center;
}
#page-content-1 h2{
	font-size: 2vw;
    margin: 0;
	font-weight: 600;
	text-align: left;
	margin-bottom: 1vw;
}
#page-content-1 span{
	color: rgb(250, 142, 109);
}
.info{
	width: 100%;
}
.info div{
	width: 50%;
}
.info div:first-child{
	margin-right:1vw;
}
.info div:last-child{
	margin-left:1vw;
}
.izvelne{
	align-items: center;
	margin-right: 1vw;
}
.izvelne p{
	margin: 0;
    font-size: 1.2vw;
}
.izvelne input{
	width: unset;
	height: unset;
}
.div{
    width: 1.2vw;
    height: 1.2vw;
    margin-right: 0.5vw;
    border-radius: 0.3vw;
	border: none;
	cursor: pointer;
}
.turpinat, .veikt{
	background-image: -moz-linear-gradient( 180deg, rgb(255,116,131) 0%, rgb(253,158,98) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgb(255,116,131) 0%, rgb(253,158,98) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,116,131) 0%, rgb(253,158,98) 100%);
	border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-size: 0.9vw;
    padding: 0.5vw 2.5vw;
    border-radius: 1vw;
	cursor:pointer;
}
.izvelne img{
	width: 3vw;
	cursor: pointer;
}
.klients{
	justify-content: space-between;
}
.check{
	width:60%;
	margin:auto;
}
.check p{
	margin: 0;
    text-align: left;
    font-size: 1vw;
	line-height: 1.2vw;
}
.radio{
	margin:0;
	height: unset;
	width: unset;
	margin-right: 1vw;
}
input[type=radio]:not{

}
input[type=radio]:checked{
	background-color: rgb(250, 142, 109);
}

.saturs{
	display: -webkit-flex;
    display: flex;
	text-align: left !important;
}
.saturs h1{
	margin: 0;
    font-size: 0.9vw;
	width: 50%;
	padding: 0.5vw;
}
.saturs p{
	margin: 0;
    font-size: 0.9vw;
    text-transform: uppercase;
    color: grey;
	width: 50%;
	padding: 0.5vw;
}
.tab img{
	width: 80%;
}
.tab h2{
	margin: 0 !important;
    font-size: 1.1vw !important;
    font-weight: 700 !important;
    font-family: "Poppins", sans-serif !important;
	text-align: center !important;
}
.tab {
    overflow: hidden;
	border: 1px solid #ccc;
	border-bottom: none;
	background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
	width: 25%;
	height: 4vw;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
	background-color: #ccc;	
}
.tabcontent {
    display: none;
    padding: 6px 12px;
	border: 1px solid #ccc;
}
.tabcontent :first-child{
	display: flex;
}
.bank_rekv{
    width: 100%;
    margin: auto;
}
#five-form, #six-form{
	text-align: center;
}
#five-form h6, #six-form h6{
	margin: 3vw;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 400;
}
#five-form img, #six-form img{
	width: 4vw;
	margin-top: 3vw;
}
.ielogoties-buttons{
	justify-content: space-evenly;
}
.ielogoties-buttons button{
	padding: 0.5vw 0vw;
    width: 10vw;
}
@media screen and (max-width: 1300px){

}
@media screen and (max-width: 900px){
}