.slider_wrap {
	width: 100%;
	height: 40px;
} 
.slider_track {
	width: 100%;
	height: 3px;
	background-color: #ddd;
	position: relative;
}
.slider_controls{
	/*display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;*/
	position: relative;
}
.slider_handle {
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: red;
}
.click_control {
	position: absolute;
	top: 0;
}
.increase {
	left: 100%;
}
.decrease {
	right: 100%;
}
.unselectable *{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}