



/*basic*/

.slider_wrap {
    width: 100%;
    height: 3vw;
    position: relative;
} 
.slider_track {
    width: 100%;
    height: 0.2vw;
    background-color: #ddd;
    position: relative;
    top: calc((3vw - 0.5vw) / 2);
    border-radius: 0.25vw;
}
.slider_controls{
    /*display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;*/
    position: relative;
    height: 100%;
}
.slider_handle {
    width: 1.1vw;
    height: 1.1vw;
    position: absolute;
    top: -0.45vw;
    background-color: red;
    z-index: 1;
    border-radius: 50%;
    border: solid 0.2vw #fff;
    box-sizing: border-box;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
}
.click_control {
    position: absolute;
    top: 0;
    width: 1.1vw;
    height: 1.1vw;
    line-height: 1.1vw;
    border-radius: 50%;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
    top: 0.8vw;
    text-align: center;
}
.increase {
    left: calc(100% + 0.8vw);
}
.decrease {
    right: calc(100% + 0.8vw);
}
.unselectable *{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
.track_cover {
    height: 100%;
    background-color: #777;
    width: 30px;
    position: absolute;
    top: 0;
    border-radius: 0.25vw;
    
}
.pos_values {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.pos_values .pos_values_wrap {
    position: absolute;
    top: 0;
    text-align: center;
    width: 0;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
}

@media screen and (max-width: 900px){
    .slider_wrap {
        height: 13vw;
        margin-top: 2vw;
    }
    .slider_handle {
        top: -2.2vw;
        width: 5vw;
        height: 5vw;
        border-width: 1vw;
    }
    .click_control {
        width: 5vw;
        height: 5vw;
        line-height: 5vw;
        top: 1.5vw;
    }
    .slider_track {
        height: 0.6vw;
        top: calc((9vw - 1.5vw)/2);
       
    }
    .pos_values_wrap {
        margin-top: 3vw;
    }
}
